<div id="<%= dom_id comment %>" style="border-bottom: 1px solid #efefef">
  <p>
    <strong>Body:</strong>
    <%= comment.body %> &nbsp;&nbsp; <span style="color: green"><%= time_ago_in_words(comment.created_at) %> ago </span>
  </p>
</div>
